body{
    background-image: url("https://cde.laprensa.e3.pe/ima/0/0/1/7/0/170702.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    background-color: black;
    color: red;
}